<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello Tab</title>
    <% if (isDevelopment) { %>
      <link href="/bundle.css" rel="stylesheet" type="text/css" />
    <% } %>
  </head>
  <body>
    <div id="app"><%- app %></div>
    <% if (isDevelopment) { %>
      <script src="/bundle.js" type="text/javascript"></script>
    <% } %>
  </body>
</html>

